<p>Hi,</p> 

<p>Your account has been made active. It's now possible to access your account on Frac.
</br>Contact Frac Support if you need help with anything.</p>

<p>Thanks and best regards!</br>
Your Friends from Frac
</p>