<p>Hi,</p> 

<p>Due to a breach of Frac's terms of service and privacy policies, or at your request, your account has been temporarily deactivated. The deactivation reason is given below.
</br><b>{{comment}}</b></br>
Contact Frac Support if you need help with anything.</p>

<p>Thanks and best regards!</br>
Your Friends from Frac</p>
